In [17]:
import pandas as pd

In [18]:
sit = pd.read_excel('../input/situation.xlsx')

In [19]:
sit.head()

     场景类型               名称  地市   区县                CGI                    小区名
0  重点保障场景  中电投云南国际电力投资有限公司  昆明  盘龙区   460-00-565232-22  盘龙区北市区第一人民医院-LHHQ-022
1  重点保障场景  中电投云南国际电力投资有限公司  昆明  盘龙区   460-00-565232-21  盘龙区北市区第一人民医院-LHHQ-021
2  重点保障场景  中电投云南国际电力投资有限公司  昆明  盘龙区    460-00-566755-6        盘龙区罗丈村-LHHQ-006
3  重点保障场景  中电投云南国际电力投资有限公司  昆明  盘龙区   460-00-565137-11      盘龙区江东好世界-LHSQ-011
4  重点保障场景  中电投云南国际电力投资有限公司  昆明  盘龙区  460-00-673642-131   盘龙区江东四季园路路灯-LHHQ-131

In [20]:
sit.columns

Index(['场景类型', '名称', '地市', '区县', 'CGI', '小区名'], dtype='object')

In [21]:
sit.shape

(305561, 6)

In [22]:
sit.isnull().sum()

场景类型      0
名称        0
地市        0
区县       37
CGI       0
小区名     128
dtype: int64

In [23]:
sit['场景类型'].unique()

array(['重点保障场景', '地铁', '高速', '高校', '医院', '风景区', '交通枢纽', '居民区', '城区', '农村'],
      dtype=object)

In [24]:
len(sit['名称'].unique())

3275

In [25]:
sit['地市'].unique()

array(['昆明', '版纳', '保山', '楚雄', '大理', '德宏', '迪庆', '红河', '丽江', '临沧', '怒江',
       '普洱', '曲靖', '文山', '玉溪', '昭通'], dtype=object)

In [26]:
sit['区县'].unique()

array(['盘龙区', '宜良县', '安宁市', '西山区', '官渡区', '五华区', '富民县', '晋宁县', '禄劝县',
       '石林县', '寻甸县', '呈贡县', '嵩明县', '勐腊县', '勐海县', '景洪市', '腾冲县', '隆阳区',
       '龙陵县', '昌宁县', '永仁县', '楚雄市', '双柏县', '牟定县', '禄丰县', '大姚县', '云龙县',
       '永平县', '漾濞县', '祥云县', '南涧县', '弥渡县', '剑川县', '宾川县', '盈江县', '瑞丽市',
       '芒市', '陇川县', '香格里拉县', '德钦县', '元阳县', '石屏县', '屏边县', '弥勒县', '蒙自县',
       '绿春县', '泸西县', '开远市', '金平县', '建水县', '红河县', '个旧市', '玉龙县', '古城区',
       '镇康县', '云县', '永德县', '临翔区', '耿马县', '凤庆县', '沧源县', '泸水县', '兰坪县',
       '思茅区', '宁洱县', '墨江县', '澜沧县', '景谷县', '江城县', '沾益县', '宣威市', '师宗县',
       '麒麟区', '马龙县', '罗平县', '陆良县', '会泽县', '富源县', '砚山县', '西畴县', '文山市',
       '丘北县', '马关县', '麻栗坡县', '广南县', '富宁县', '元江县', '易门县', '新平县', '通海县',
       '江川县', '华宁县', '红塔区', '峨山县', '澄江县', '镇雄县', '昭阳区', '永善县', '彝良县',
       '盐津县', '威信县', '绥江县', '水富县', '巧家县', '鲁甸县', '大关县', '河口县', '施甸县',
       '鹤庆县', '洱源县', '大理市', '梁河县', '维西县', '东川区', '元谋县', '姚安县', '武定县',
       '南华县', '巍山县', '永胜县', '宁蒗县', '华坪县', '贡山县', '福贡县', '镇沅县', '双江县',
       '西盟县', '孟连县', '景东县', '呈贡区', '大理古城区', nan, '蒙自市'], dtype=object)

In [27]:
len(sit['CGI'].unique())

264138

In [28]:
len(sit['小区名'].unique())

270371

In [29]:
xishan = sit[sit['区县']=='西山区']

In [30]:
xishan.shape

(8751, 6)

In [31]:
xishan = xishan.drop(['地市', '区县'], axis=1)

In [32]:
xishan.head()

      场景类型            名称                CGI                  小区名
25  重点保障场景  昆明市公安局西山公安分局  460-00-675165-151  西山区公安局新大楼1-LZPQ-151
26  重点保障场景  昆明市公安局西山公安分局  460-00-675166-151  西山区公安局新大楼2-LZPQ-151
27  重点保障场景  昆明市公安局西山公安分局  460-00-675166-152  西山区公安局新大楼2-LZPQ-152
28  重点保障场景  昆明市公安局西山公安分局  460-00-675167-151  西山区公安局新大楼3-LZPQ-151
29  重点保障场景  昆明市公安局西山公安分局    460-00-33969-11    西山区城市锦苑S-LZSQ-011

In [33]:
xishan = xishan[xishan['场景类型']!='重点保障场景']
xishan = xishan[xishan['场景类型']!='城区']
xishan = xishan[xishan['场景类型']!='农村']

In [34]:
xishan = xishan.drop(['名称', '小区名'], axis=1)

In [35]:
xishan.head()

     场景类型                CGI
2485   地铁  460-00-674242-131
2486   地铁  460-00-674244-131
2487   地铁  460-00-674246-131
2488   地铁  460-00-674248-131
2489   地铁  460-00-674250-131

In [36]:
xishan = xishan.rename(columns={'场景类型':'type', 'CGI':'cgi'})

In [38]:
xishan['type'].unique()

array(['地铁', '高速', '高校', '医院', '风景区', '交通枢纽', '居民区'], dtype=object)

In [40]:
xishan['cgi'].unique()

array(['460-00-674242-131', '460-00-674244-131', '460-00-674246-131', ...,
       '460-00-33894-11', '460-00-675195-151', '460-00-675195-152'],
      dtype=object)

In [41]:
sample = pd.read_csv('../input/train_sample.csv')

In [42]:
sample.head()

,city,region,time,cgi,voice_connection,wifi_connection,video_connection,voice_disconnection,wifi_disconnection,video_disconnection,...,prb_push,prb_pull,pdcch_cce,rrc_max,csgb_rrc,rrc_2g,rrc_3g,rrc_num,mr_low,mr_high
0,昆明,西山区,2018-04-30 16:00:00,460-00-33521-52,1.000000,0.998843,NaN,0.0,0.0,NaN,...,0.0209,0.0451,NaN,11.0,13.0,14.0,36.0,9.0,0.072508,0.168177
1,昆明,西山区,2018-04-30 03:00:00,460-00-33521-52,NaN,1.000000,NaN,NaN,0.0,NaN,...,0.0116,0.0188,NaN,11.0,1.0,1.0,4.0,4.0,0.056956,0.099440
2,昆明,西山区,2018-04-30 05:00:00,460-00-33521-52,NaN,1.000000,NaN,NaN,0.0,NaN,...,0.0095,0.0170,NaN,12.0,0.0,0.0,1.0,4.0,0.021645,0.092833
3,昆明,西山区,2018-04-30 23:00:00,460-00-33521-52,0.999677,0.999677,NaN,0.0,0.0,NaN,...,0.0352,0.0352,NaN,23.0,8.0,8.0,15.0,9.0,0.039878,0.099314
4,昆明,西山区,2018-04-30 02:00:00,460-00-33521-52,0.999489,0.999489,NaN,0.0,0.0,NaN,...,0.0128,0.0203,NaN,12.0,0.0,0.0,3.0,4.0,0.032845,0.120284

In [43]:
data = pd.merge(xishan, sample, on='cgi', how='inner')

In [44]:
data.shape

(319587, 34)

In [46]:
sample.shape

(993712, 33)

In [48]:
data.type.unique()

array(['地铁', '高速', '居民区', '高校', '风景区', '医院', '交通枢纽'], dtype=object)

In [51]:
ditie = data[data.loc[:,('type')]=='地铁']

In [52]:
ditie.shape

(1989, 34)

In [53]:
data.to_csv('../input/sit_xishan_data.csv', index=False)